@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --normal-font-size: 15px;
    --bright-txt-color: azure;
    --large-font-weight: 600;
    --small-font-weight: 100;
    --detailing-color: tomato;
    --span-color: teal;
}
body{
    background-color: var(--bright-txt-color);
    font-size: var(normal-font-size);
}
span{
    color: var(--span-color);
}
/*#nav1 ul li a::content{
    width: 0px;
    height: 2px;
    background: var(--detailing-color);
    display: block;
    margin: auto;
    content: '';
    transition: 0.5s;
}
#nav1 ul li a:hover::content{
    width: 70px;
}*/
.header{
    position: fixed;
    width: 100%;
    height: 55px;
    top: 0;
    left: 0;
    display: flex;
    padding: 10px 30px 10px 30px;
    justify-content: space-between;
    align-items: center;

}
.header.sticky{
    background: var(--detailing-color);
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
  }
.header.sticky .nav .nav-bar li a:hover{
    transition: 0.5s;
    color: #292929;
  }
#nav1{
    width: auto;
    transition: all 0.01s;
}
.header .nav-bar li a:hover{
    color: var(--detailing-color);
}
.header .logo{
    color: var(--bright-txt-color);
    font-weight: var(--large-font-weight);
}
.front-page h3{
    font-weight: 100;
    font-size: 0.9rem;
    text-transform: uppercase;
    padding-bottom: 10px;
    color: var(--bright-txt-color);
}

.header .nav-bar{
    display: flex;
    position: relative;
}
.header .nav-bar li{
    list-style-type: none;
}
.header .nav-bar li a{
    text-decoration: none;
    padding-right: 15px;
    color: var(--bright-txt-color);
}

.front-page{
    position: relative;
    width: 100%;
    height: 650px;
    max-height: 100%;
    z-index: 0;
    background: url(img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
}
.welcome-txt .container-1{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.container-1{
    max-height: fit-content;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.container-1 .content{
    height: 100%;
    padding: 20%;
    
}
.content h1{
    font-size:40px;
    color: var(--detailing-color);
    padding-top: 20px;
    padding-bottom: 35px;
}
.content .btn{
    text-decoration: none;
    color: var(--bright-txt-color)
}
.btn{
    padding: 2% 4%;
    border-radius: 5px;
    background-color: var(--detailing-color);
    transition: 0.2s;
}
.btn:hover{
    background-color: var(--span-color);
}

/* Abbout us */

.About .container{
    z-index: -1;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: justify;
    border: 1px dotted red;
}
.container .about-txt{
    position: relative;
    width: 48%;
    border: 3px solid yellow;
    padding: 30px 30px;
}
.container .about-image{
    position: relative;
    width: 48%;
    height: 300px;
    border: 3px solid pink;
}
.container .about-image img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.about-txt h1{
    margin: 20px;
}
.about-txt p{
    font-size: var(--normal-font-size);
    font-weight: 200;
}
